* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: hsl(0, 60%, 20%);
  --secondary-color: hsl(0, 60%, 35%);
  --highlight-color: antiquewhite;

  --text-primary-color: var(var(--primary-color));

  --muted-color-100: azure;
  --muted-color-200: rgb(166, 202, 202);
}

body {
  font-family: kanit;
  padding: 50px;
  background-color: var(--muted-color-100);
  height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-wrapper .app-title {
  font-size: 60px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.message {
  position: relative;
  background-color: var(--highlight-color);
  padding: 20px;
  border-radius: 15px;
}

.message-text-input {
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 20px;
  width: 256px;
  color: white;
  font-size: 30px;
  outline: none;
  border: 5px solid var(--secondary-color);
}

input {
  border-radius: 30px;
  padding: 20px;
  height: 85px;
  width: 500px;
  outline: none;
  border: 5px solid var(--secondary-color);
  font-size: 30px;
  color: var(--primary-color);
}

input::placeholder {
  color: var(--muted-color-200);
}

.message-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.message-input-container input {
  margin-right: 30px;
}

.board .message {
  margin-bottom: 30px;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -30px;
  top: -10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
