* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: hsl(0, 60%, 20%);
  --secondary-color: hsl(0, 60%, 35%);
  --highlight-color: antiquewhite;

  --text-primary-color: var(var(--primary-color));

  --muted-color-100: azure;
  --muted-color-200: rgb(166, 202, 202);
}

body {
  font-family: kanit;
  padding: 50px;
  background-color: var(--muted-color-100);
}

.app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.app-wrapper .app-title {
  font-size: 60px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.view-product-container {
  border: 5px solid var(--secondary-color);
  padding: 30px;
  background: var(--highlight-color);
  margin: 30px 0;
}

.product {
  display: flex;
  position: relative;
  background-color: var(--highlight-color);
  padding: 20px;
  border-radius: 15px;
}

.product .product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .product-detail .product-actions {
  display: flex;
}

.product .product-preview {
  margin-right: 40px;
}

.product-text-input {
  margin-bottom: 30px;
}

.product-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product-input-container input {
  margin-right: 30px;
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-list .product {
  margin-bottom: 30px;
}

.search-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -30px;
  top: -10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.view-button,
.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .previous-button {
  margin-right: 10px;
}

.pages {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

/* form styles */
input,
select {
  border-radius: 30px;
  padding: 20px;
  height: 85px;
  width: 500px;
  outline: none;
  border: 5px solid var(--secondary-color);
  font-size: 30px;
  color: var(--primary-color);
  margin-left: 20px;
}

select {
  padding: 0px 20px;
  width: 450px;
}

textarea {
  font-family: kanit;
  border-radius: 30px;
  outline: none;
  border: 5px solid var(--secondary-color);
  font-size: 30px;
  color: var(--primary-color);
  margin-left: 20px;
  padding: 20px;
}

textarea::placeholder {
  font-family: kanit;
  color: var(--muted-color-200);
}

input::placeholder {
  font-family: kanit;
  color: var(--muted-color-200);
}

.input-container {
  margin-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.product-form {
  border: 5px solid var(--secondary-color);
  padding: 30px;
  background: var(--highlight-color);
  margin: 30px 0;
}

form h1 {
  margin-bottom: 20px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

/* general elements */

button {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 20px;
  width: 256px;
  color: white;
  font-size: 30px;
  outline: none;
  border: 5px solid var(--secondary-color);
}
