* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.color-box-container {
  background: lightgrey;
  height: 100vh;
  padding: 50px;
}

.orange-box {
  background: orange;
  height: 25%;
}

.yellow-box {
  background: khaki;
  height: 25%;
}

.blue-box {
  background: cornflowerblue;
  height: 50%;
}