#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.greeting-container {
  font-size: 70px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: lightseagreen;
  border-radius: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  font-size: xx-large;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 30px;
  margin-bottom: 30px;
}

.input-container input {
  width: 500px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
}
